/*My own styles*/
.hide {
    display: none;
}
.show {
    
}
.list-group {
    list-style-type: none;

}
.list-group li label {
    font-size:14px;
}

.search-list {
    list-style-type: none;
    font-size:14px;
}

input[type=checkbox].css-checkbox {
	display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:30px;
	height:25px; 
	display:inline-block;
	line-height:25px;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -25px;
}
label.css-label {
	background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_a71063c77f1160684f9c15d61751eb1c.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.search-list {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
#choose-movie {
    padding: 6px 12px;
}
.row  {
    margin-bottom: 10px;
}
.form-control {
    font-size: 14px;
}
#Poster {
    float:left;
    height: 220px;
    margin: 5px;
}
#clear-completed {
    padding: 6px 12px;
}