<div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
        				<div class="input-group">
            				<input type="text" class="form-control" id="new-search" placeholder="Write the movie/series title?" autofocus>
            				<span class="input-group-btn">
                                <button id="search-btn" class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div id="searchdiv" class="hide">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Search list</h3>
                                </div>
                                <div class="panel-body">
                                    <div id="search"></div>
                				</div>
                            </div>
                        </div>
    			    </div>
    			    <div class="col-xs-12 col-sm-6 col-md-6">
    			        <div id="single-movie"></div>
    			    </div>
    			</div>
    			<div class="row">
    			    <div class="col-xs-12 col-sm-6 col-md-6">
        			    <section id="main">
            				<div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Watch list</h3>
                                </div>
                                <div class="panel-body">
                                    <input id="toggle-all" type="checkbox" class="css-checkbox">
                    				<label for="toggle-all" class="css-label">Mark all as watched</label>
                                    <ul class="list-group"></ul>
                                    
                                    <div id="left-to-watch">
                                        <span id="movie-count"><strong><%= remaining %></strong> <%= remaining == 1 ? 'movie' : 'movies' %> left to watch</span>
                                        <% if ( watched ) { %>
                                        <button id="clear-completed" class="btn btn-danger">Clear watched (<%= watched %>)</button>
                                        <% } %>
                                    </div>
                				</div>
                            </div>
        			    </section>
        			</div>
    			</div>
    			<div class="row">
    			    <div class="col-xs-12 col-sm-6 col-md-6">
        			    <section id="main1">
            				<div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Watched list</h3>
                                </div>
                                <div class="panel-body">
                                    <ul class="wlist-group"></ul>
                                    
                				</div>
                            </div>
        			    </section>
        			</div>
    			</div>
    			<footer id="footer"></footer>